*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background-color: #000;
}

.wrapper{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    position: relative;
    overflow: hidden;
    max-width: 1200px;
    height: auto;
}

.slider-items{
    width: 500%;
    height: 100%;
    object-fit: cover;
    display: flex;
}

.slider-items .items{
    width: 20%;
    transition: 0.8s;
    min-height: 724px;
}

.slider-items .items img {
    max-width: 100%;
    height: auto;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

P{  
    padding: 30px 0 0 0 ;
    font-size: 3em;
    color: #fff;
}

.slider-items input{
     position: absolute; 
     visibility: hidden; 
} 

.slider-items input:active{
    position: absolute; 
    visibility: hidden;
}
    
.slider-nav{
    display: block;
    height: 30px;
    position: absolute;
    bottom: 45px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.slider-nav .slider-nav-item{
    width: 15px;
    height: 15px;
    margin: 5px;
    border: 2px solid royalblue;
    background-color: royalblue;
    border-radius: 15px;
    transition: all 0.8s ease;
}

.slider-nav .slider-nav-item:hover{
    background-color: #fff;
    border-color: royalblue !important;
}

.slider-nav .slider-nav-item:active{
    background-color: #000;
}

#control1:checked ~ .control1{
    margin-left: 0;
}

#control2:checked ~ .control1{
    margin-left: -20%;
}

#control3:checked ~ .control1{
    margin-left: -40%;
}

#control4:checked ~ .control1{
    margin-left: -60%;
}

#control5:checked ~ .control1{
    margin-left: -80%;
}

#control1 ~ .control1 > p
{
    display: none;
}

#control1:checked ~ .img1 > p,
#control2:checked ~ .img2 > p,
#control3:checked ~ .img3 > p,
#control4:checked ~ .img4 > p,
#control5:checked ~ .img5 > p{
    display: block;
    animation-duration: 0.9s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      margin-left: 50%;
      width: 200%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

#active label{ 
    cursor: pointer;
	border-radius: 10px;
	display: inline-block; 
	background: royalblue;
}

#active label:hover{ 
	background: #fff;
    border-color: #fff;
    cursor: pointer;
}

#active label:active{
    background: rgb(138, 137, 137);
}

label{
    
}

#control1:checked ~ #active label:nth-child(1),
#control2:checked ~ #active label:nth-child(2),
#control3:checked ~ #active label:nth-child(3),
#control4:checked ~ #active label:nth-child(4),
#control5:checked ~ #active label:nth-child(5){
    background: #000;
    border-color: #fff;
}
